apiVersion: v1
kind: Secret
metadata:
  name: auth-user-all-secrets-example
type: Opaque
data:
  postgres-user: YWRtaWsdfsfdssdfsf4tYXV0aA=
  postgres-password: cXdsdfsfqYW9sfsdfsdf6amFzYXNhc3dusfdsfMTIzUUBh
  postgres-db: dXNlcgsfs=sdfsfd=
  dsn: aG9zdD1wbsdfsdf3N0Z3Jlcy11c2VyIHVzZXI9YWRtaW4tYXsfdd2phbsdfsdf3pqYXNhc2Fzd24xMjNRQGEgZGJuYW1lPXVzZXIgcGsdfsdfsfSFDFSfbG1vZGU9ZGlzYWJsZQ==
  signature: Ki4wMT9VZSlwsdfSDFSDFSVfJmsjNExSFdsfSF==
  redis-password : cXdqYW9SDFSDFSFDsdsdsRUQ=
  redis-address : cmVkasdfsdFSDFsDo2Mzc5
  api-email : ZG1sdfsDFSDFSDFD3YxDFDSLmNvbUBSFDSFSFS0=
  api-password : aSDFSDFSFSDsfssdsds=
  smtp-address : c2sdfsFSDFSDfsdsbC5jb20=
  smtp-address-host : c210csDFSFSDsdsSFjfsDFDSg3
