DSN='host=postgres-budget-planner user=example_user password=example_password dbname=example_bd port=5432 sslmode=disable'
POSTGRES_USER='example_user'
POSTGRES_PASSWORD='example_password'
POSTGRES_DB='example_bd'
EXTERNAL_POSTGRES_PORT='5432'
PATH_VOLUMES='../../../volumes/data_budget_planner'
JWT_SIGNATURE='O{uG{wrN,a2>|<zFul[&@zbv9siTKw]lZu|y@[tV:>^'
EXTERNAL_API_PORT='8080'
KAFKA_CLIENT_USER='example_user'
KAFKA_CLIENT_PASSWORD='example_password'
KAFKA_BOOTSTRAP='kafka-example:9092'
DELETED_USERS_TOPIC='deleted-users-topic'
BUDGET_DELETE_GROUP_ID='budget-delete-group-id'
SHARED_REDIS_ADDRESS='redis-shared:6379'
SHARED_REDIS_PASSWORD='shared_redis_password'