apiVersion: v1
kind: Secret
metadata:
  name: budget-planner-all-secrets
type: Opaque
stringData:
  postgres-user: 'example_user'
  postgres-password: 'example_password'
  postgres-db: 'example_db'
  dsn: 'host=postgres-budget-headless user=example_user password=example_password dbname=example_db port=5432 sslmode=disable''host=postgres-budget-headless user=admin password=qwjaozjwn123Q@a dbname=planner port=5432 sslmode=disable'
  signature: 'O{uG{wrN,a2>|<zFul[&@zbv9siTKw]lZu|y@[tV:>^'
